body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Verdana',sans-serif;
  margin-bottom: 15px;
  margin: 0 auto;
  text-align: center;
}

div#main {
  font-size: 110%;
  margin-bottom: 15px;
  margin-top: 15px;
  margin: 0 auto;
  width: 1000px;
}

div.headline {
  color: #D81920;
  font-weight: bold;
  margin-top: 15px;
}

div.content {
  font-size: 80%;
  margin-top: 10px;
}

div.content_columns{
  font-size: 80%;
  margin-top: 10px;
  margin: 0 auto;
  width: 500px;
}

div.subheadline {
  color: #006CB7;
  font-weight: bold;
}

div.column {
  float: left;
  margin-bottom: 10px;
  width: 50%;
}

div#subsidy {
  clear: both;
  margin-top: 15px;
}

div#subsidy_logo {
  background-image: url(/pc/images/logo_eu-fonds.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 150px;
  margin: 0 auto 5px auto;
  width: 129px;
}

div.section {
  clear: both;
  font-weight: bold;
  margin-top: 5px;
}

div.justified {
  text-align: justify;
}

div.justified_margin_top {
  margin-top: 5px;
  margin: 0 auto;
  text-align: justify;
}

div.annotation {
  font-size: 60%;
  margin-top: 5px;
}

div.screenshot_container {
  margin: 5px auto 0 auto;
  width: 650px;
}

div.screenshot {
  border-color: #006CB7;
  border-style: dashed;
  border-width: 1px;
  height: 400px;
  margin: 0 auto;
  width: 650px;
}

a {
  color: #006CB7;
  text-decoration: none;
}

a:hover {
  color: #D81920;
  text-decoration: none;
}

span.bold {
  font-weight: bold;
}

span.code {
  font-family: 'Courier New',monospace;
}

span.italic {
  font-style: italic;
}
